.lastregAvatar {
  display: inline-flex;
  margin-right: 10px;
  word-wrap: break-word;
  vertical-align: middle;
  .Avatar{
    width: 30px;
    height: 30px;
    border-radius: 36px;
    font-size: 18px;
    line-height: 30px;
  }
}
ul.lastreguser.fa-ul {
  margin: 0px 0px 0px 0px;
}
li.lastreguswdg {
  margin-bottom: 5px;
}
a.lastreglink {
  text-decoration: none;
  color: @primary-color;
}
i.fas.fa-user-plus.iconNewUser {
  margin-right: 5px;
}
.welcomeRegistered {
  margin-bottom: 15px;
}
